# <center> Data leak analysis

## Synopsis

Data leak analysis notebook consist of few parts:
1. Data leaks in train set (``sales_train.csv``)
2. Data leaks in test set (``sales_test.csv``)
3. Data leaks in shop set (``shops.csv``). It related to problems with shop_name
4. Data leaks in item categories (``item_categories.csv``).

## Import datasets

In [16]:
%store -r item_cat
%store -r shops

%store -r sales_test
%store -r sales_train

%store -r __ipy
%store -r __da

In [1]:
__ipy

Helper ipython script loaded

In [6]:
__da

/Users/maksymsuprunenko/anaconda3/lib/python3.7/site-packages/tqdm/_tqdm.py:604: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

Basic Data Analysis tools was loaded

## Train dataset

Glimpse insights from the data:
1. Some of objects compraise of negative ``item_price`` because min function returned **-1.0** price.
2. Some of objects compraise of negative ``item_cnt_day``. It is said that negative item count means **returned items**. ([kaggle discussion](https://www.kaggle.com/c/competitive-data-science-predict-future-sales/discussion/100695#latest-584986))
3. Dataset **does not** consist of any of **NaN values**.
4. There are **28** objects which are duplicates. Duplicated objects consist of same key pairs. Key consist of following columns: ``date``, ``item_id``, ``shop_id``.

In [9]:
sales_train.describe()

       date_block_num      shop_id      item_id   item_price  item_cnt_day
count    2,935,849.00 2,935,849.00 2,935,849.00 2,935,849.00  2,935,849.00
mean            14.57        33.00    10,197.23       890.62          1.24
std              9.42        16.23     6,324.30     1,726.44          2.61
min              0.00         0.00         0.00        -1.00        -22.00
25%              7.00        22.00     4,476.00       249.00          1.00
50%             14.00        31.00     9,343.00       399.00          1.00
75%             23.00        47.00    15,684.00       999.00          1.00
max             33.00        59.00    22,169.00   307,980.00      2,169.00

Null values in dataset

In [10]:
is_null_values_in_df = sales_train.isnull().apply(lambda x: x.value_counts())
is_null_values_in_df

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day
False  2935849         2935849  2935849  2935849     2935849       2935849

Duplicated items:

In [5]:
unique_items = sales_train.drop_duplicates(['date', 'item_id', 'shop_id'])
sales_train.shape[0] - unique_items.shape[0]

28

## Test dataset

Glimpse insights from the data:
- **Any problems were not detected.**

In [14]:
sales_train[['date_block_num', 'item_price', 'item_cnt_day']].describe()

       date_block_num   item_price  item_cnt_day
count    2,935,849.00 2,935,849.00  2,935,849.00
mean            14.57       890.62          1.24
std              9.42     1,726.44          2.61
min              0.00        -1.00        -22.00
25%              7.00       249.00          1.00
50%             14.00       399.00          1.00
75%             23.00       999.00          1.00
max             33.00   307,980.00      2,169.00

Duplicated items was not detected:

In [15]:
unique_items = sales_test.drop_duplicates(['item_id', 'shop_id'])
sales_test.shape[0] - unique_items.shape[0]

0

## Shop dataset

Glimpse insights from the data:
- ``shop_name`` consists of two parts: city and address, except one object: ``Интернет-магазин ЧС`` - internet shop
- ``shop_name`` contains multiple unnessesary symbols like ``(!, ", м², м)``
- Some of objects are same but they represented as different objects because of errors with symbols. It is follows objects:
    1. ``Жуковский ул. Чкалова 39м²``
    2. ``Якутск ТЦ "Центральный"``
    3. ``Якутск Орджоникидзе, 56``

In [19]:
shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

All ``shop_id`` are unique.

In [33]:
shops['shop_id'].nunique()  - shops['shop_id'].shape[0]

0

## Item category

Glimpse insights from the data:
- **Any problems were not detected.**

All ``item_category_id`` are unique.

In [32]:
item_cat['item_category_id'].nunique() - item_cat['item_category_id'].shape[0]

0

## Item

Glimpse insights from the data:
- **Any problems were not detected.**

All `item_id` are unique.

In [3]:
item['item_id'].nunique() - item['item_id'].shape[0]

0